<nav class="navbar navbar-expand-lg bg-primary">
    <!-- <a class="navbar-brand" href="index.ejs"><img src="https://i.imgur.com/FBoxiLk.png" alt="Logo"></a> -->
    <a class="navbar-brand" href="/storage">Storage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/storage">Home</a>
            </li>

            <li class="nav-item link-white">
                <a class="nav-link" href="/storage">Collections</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Sign up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>