<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Collection Name</h1>
        <table>
            <th>Name</th>
            <th>Quantity</th>
            <th>Color</th>
            <% for (let i = 0; i < collections.length; i++) { %>
                <tr>
                    <td><a href="/storage/<%=collections[i].id; %>"><%= collections[i].name %></a></td>
                    <td><%= collections[i].quantity %></td>
                    <td><%= collections[i].color %></td>
                </tr>
                
            <% } %>
        
        </table>
    </div>
</body>
</html>