<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        Item Name: <input type="text" placeholder="Name">
        Quantity: <input type="number" placeholder="Quantity">
        Color: <input type="text">
        Description: <input type="textbox" placeholder="Description of item">
        <input type="submit" value="submit changes">
    </form>
    
</body>
</html>