<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<!-- <h1 class="add-h1">Add Item</h1> -->
<nav class="show-exit">
    <a href="/storage" class="button"><button class="back-button">Back</button></a>
</nav>
<div class="show-container">
    <h1 class="add-h1">Add Item</h1>

    <div class="container-text">

    <form action="/storage" method="POST">
        Item Name: <br><input class="mb-4 mt-2" type="text" placeholder="Name" name="name"><br>
        Quantity: <br><input class="mb-4 mt-2" type="number" placeholder="Quantity" name="quantity"><br>
        Color: <br><input class="mb-4 mt-2" type="text" name="color"><br>
        Description: <br><input class="mb-4 mt-2" type="textbox" placeholder="Description of item" name="description"><br>
        <div class="edit-submit-div">
            <input class="mb-4 mt-2 edit-submit-button" type="submit" value="submit changes">
        </div>    
    </form>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>